body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f3f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}
h1{
    color: blue;
    margin-bottom: 20px;
    font-weight: bold;
}
.login-container input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.lbl{
    text-align: none;
    margin-right: 90%;
}
#btn{
    background-color: blue;
    color: white;
    font-weight: 400;
    width: 100%;
    padding: 10px;
}